*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(../imagens/download\ \(1\).jpeg);
}

#container{
    display: grid;
    grid-template-areas: "cabecalho"
                         "corpo";
    grid-gap: 10px;
}

#cabecalho{
    grid-area: cabecalho;
    background-color:#b2bd3a;
    width: 91vw;
    height: 6vh;
}

#corpo{
    display: grid;
    grid-template-areas: "conteudo lateral";
    grid-gap: 10px;
}

#lateral{
    display: grid;
    grid-template-areas: "outrosModelos"
                         "sobre"
                         "perguntas";
    grid-gap: 10px;
    background-color: #b2bd3a; 
    width: 21vw; 
    height: 90vh;
}

#outrosModelos{
    width: 20vw;
    height: 55vh;
}

#titulo{
    width: 80vw;
    height: 5vh; 
    font-size: 2rem;
}

#logo{
    width: 10vw; 
    height: 5vh;
}

#corpo{
    width: 91vw; 
    height: 90vh;
}

#conteudo{
    grid-area: conteudo;
    grid-template-areas: "texto1 imagemModelo"
                         "texto2 texto2";
    background-color: #b2bd3a; 
    width: 70vw; 
    height: 90vh;
}

#conteudo{
    font-family: "Crimson Pro";
    color: #471e1b;
}

/* As 3 partes abaixo são o scrollbar da div conteúdo */
#conteudo{
    overflow: hidden;
    overflow-y: scroll;
}

#conteudo::-webkit-scrollbar{
    width: 10px; 
    background-color: #7e8c10;
    border-radius: 10px;
}

#conteudo::-webkit-scrollbar-thumb{
    background-color: #763531;
    border-radius: 10px;
}

p {
    margin: 0;
    text-indent: 3ch;
}

