@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Quattrocento:wght@400;700&family=Tangerine:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Crimson Pro";
    color: #471e1b
}

body{
    background-image: url(../imagens/FloresHorizontal.jpg);
}

h1{
    font-family: "Crimson Pro";
    color: #471e1b
}

#container{
    display: grid;
    grid-template-areas: "cabecalho"
                         "corpo";
    grid-gap: 10px
}

#cabecalho{
    grid-area: cabecalho;
    background-color: #b2bd3a;
    width: 90.5vw;
    height: 6vh

}
   
#corpo{
    grid-area: corpo;
    display: grid;
    grid-template-areas: "botoes"
                         "conteudo";
    grid-gap: 10px;
    grid-template-rows: 15vh 75vh;
    width: 91vw; 
    height: 90vh
}

#botoes{
    grid-area: botoes;
    display: grid;
    grid-template-areas: "modelo2 sobre";
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    background-color: #b2bd3a; 
    height: 10vh;
}

#modelo2{
    grid-area: modelo2; 
    width: 50%; 
    height: 10vh
}

#sobre{
    grid-area: sobre;
    width: 50%; 
    height: 10vh; 
    color: white
}

#titulo{
    width: 80vw;
    height: 5vh; 
    font-size: 2rem
}

#logo{
    width: 10vw; 
    height: 5vh
}

#conteudo{
    grid-area: conteudo;
    grid-template-areas: "imagemModelo"
                         "texto";
    background-color: #b2bd3a; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 50vh;
    width: 100%; 
    height: 90vh
}
#texto1{
    grid-area: texto1;
    width: 42vw; 
    height: 45vh;   
    font-size: 1rem
}

#imagemModelo{
    grid-area: imagemModelo
}

/* As 3 partes abaixo são o scrollbar da div conteúdo */
#conteudo{
    overflow: hidden;
    overflow-y: scroll
}

#conteudo::-webkit-scrollbar{
    width: 10px; 
    background-color: #7e8c10;
    border-radius: 10px
}

#conteudo::-webkit-scrollbar-thumb{
    background-color: #763531;
    border-radius: 10px
}

p {
    margin: 8px;
    text-indent: 3ch
}

a{
    font-size: 20px;
    background-color: #742c47;
    color: beige;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}