@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Didact+Gothic&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@200..800&family=Quattrocento:wght@400;700&family=Tangerine:wght@400;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Crimson Pro";
    color: #471e1b
}

body{
    background-image: url(../imagens/FloresHorizontal.jpg);
}
p {
    margin: 8px;
    text-indent: 3ch;
}

#container{
    display: grid !important;
    grid-template-areas: "cabecalho"
                         "corpo";
                         grid-template-rows: 5vh 50vh;

    
    grid-gap: 10px;
    border: 5px solid blue;
}

#corpo{
    grid-area: corpo;
    display: grid;
    grid-template-areas: "nos introducao modelos";
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
}
#cabecalho{
    grid-area: cabecalho !important;
    border: 1px solid black;
}

#nos{
    grid-area: nos !important;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #c5d169;  
    width: 20vw; 
    height: 85vh;
    
}

#introducao{
    grid-area: introducao !important;
    background-color: blue;
}

#menu{
    width: 20vw;
    height: 100%;
}

#formPerguntas{
    display: flex;
    align-items: flex-end;
}

#conteudo{
    background-color: #c5d169;
    width: 60vw; 
    height: 90vh;
}

/* As 3 partes abaixo são o scrollbar da div conteúdo */
#conteudo{
    overflow: hidden;
    overflow-y: scroll;
}

#conteudo::-webkit-scrollbar{
    width: 10px; 
    background-color: #7e8c10;
    border-radius: 10px;
}

#conteudo::-webkit-scrollbar-thumb{
    background-color: #763531;
    border-radius: 10px;
}

/* As 3 partes abaixo são o scrollbar da div sobre Nós */

#sobre{
    width: 20vw; 
    height: 12vh; 
    background-color: #c5d169;
}
#nos::-webkit-scrollbar{
    width: 10px; 
    background-color: #7e8c10;
    border-radius: 10px;
}

#nos::-webkit-scrollbar-thumb{
    background-color: #763531;
    border-radius: 10px;
}

#outrosModelos{
    width: 20vw; 
    height: 90vh;
}